# Ignore build output
bin/
obj/

# Ignore Visual Studio workspace files
.vs/

# Ignore IntelliSense and project analysis files
*.bin
*.v9.bin

# Ignore Design-time build caches
*.dtbcache*

# Ignore user-specific files from Visual Studio
*.user
*.suo

# Ignore log files and temporary files
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Keep the prebuilt executable
!Releases/